/* Experience.css */

.experience-container {
    padding: 20px;
}

h1 {
    color: #8BE9FD;
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 20px;
}

.timeline {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}

.company-section {
    margin-bottom: 40px;
}

.company-name {
    color: #50FA7B;
    font-size: 1.8em;
    margin-bottom: 10px;
}

.timeline-item {
    background: #282A36;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    position: relative;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.timeline-item::before {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #282A36; /* Cambiar a color de fondo */
    top: 0;
    bottom: 0;
    left: -20px; /* ajustar este valor para mover la línea */
    border-radius: 4px;
    z-index: -1; /* colocar la línea detrás del contenido */
}

.timeline-icon {
    position: absolute;
    left: -50px;
    background-color: #50FA7B;
    color: #282A36;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 1.2em;
}

.timeline-content {
    max-height: none; /* Permitir altura completa */
    overflow: visible; /* Mostrar contenido completo */
}

.date {
    color: #8BE9FD;
    font-size: 1.2em;
}

.title {
    font-size: 1.5em;
    margin: 10px 0;
}

.location {
    font-size: 1.1em;
    color: #6272A4;
    margin-bottom: 10px;
}

.description {
    white-space: pre-wrap;
    font-size: 1.1em;
    color: #F8F8F2;
    margin-bottom: 10px;
}

.company-link {
    display: inline-block;
    margin-top: 10px;
    color: #8BE9FD;
    text-decoration: none;
    border: 1px solid #8BE9FD;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.company-link:hover {
    background-color: #8BE9FD;
    color: #282A36;
}

/* Añadir estilo para las insignias de habilidades */
.skills {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.skill-badge {
    background-color: #50FA7B;
    color: #282A36;
    border-radius: 4px;
    padding: 0.3rem 0.6rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
}