/* Footer.css */

.footer {
  position: relative; /* Cambiado de fixed a relative */
  width: 100%;
  background-color: #34495e;
  color: #ffffff;
  text-align: center;
  padding: 10px 0;
  font-size: 0.8rem;
  margin-top: auto; /* Permite que el footer se empuje al final de la página */
}

.heart {
  color: red;
}

/* Media Queries para dispositivos móviles */
@media (max-width: 768px) {
  .footer {
    padding: 15px 0;
    font-size: 1rem; /* Aumentar el tamaño de la fuente para mejor legibilidad */
  }
}