/* src/index.css */

/* 1. Importamos nuestro fichero de tema. Debe ser lo primero. */
@import './theme.css';

/* 2. Reseteo Básico y Estilos Globales */
*,
*::before,
*::after {
  box-sizing: border-box; /* Un estándar moderno para el modelo de caja */
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth; /* Desplazamiento suave al hacer clic en enlaces internos */
}

/* 3. Aplicamos nuestros estilos base del tema al body */
body {
  font-family: var(--font-family-body);
  background-color: var(--background-color);
  color: var(--primary-text-color);
  
  /* Propiedades para un renderizado de fuente más nítido */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 4. Estilos base para los enlaces */
a {
  color: var(--accent-color);
  text-decoration: none;
  transition: color var(--transition-speed) ease;
}

a:hover {
  color: var(--accent-color-hover);
}

/* 5. Mantener los estilos por defecto para la etiqueta <code> */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  background-color: var(--card-background-color);
  padding: 2px 4px;
  border-radius: 4px;
}
